/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
}

:root {
    --background-color: #FFBC59;
    --green-color: #13888D;
}

body {
    font-family: Arial, sans-serif;
}

header {
    color: white;
    text-align: center;
    padding: 60px 20px;
    position: relative;
    z-index: 1;
    margin-top: -5%;
}

.main-title,
.second-title {
    font-size: 24px;
    background-color: var(--green-color);
}

.second-title {
    padding-left: 20px;
}

.circle {
    position: fixed;
    background-color: var(--green-color);
    top: -20%;
    left: -50%;
    width: 200%;
    height: 40%;
    border-radius: 50%;
    z-index: -1;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

/* Carousel */
.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10%;
}

.carousel-item {
    width: 110px;
    height: 150px;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    transition: all 0.4s ease-in-out;
    opacity: 0.75;
    transform: scale(1.5);
    cursor: pointer;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.carousel-item.left {
    width: 130px;
    height: 200px;
    opacity: 1;
    transform: translateX(50px);
}

.carousel-item.center {
    width: 230px;
    height: 280px;
    opacity: 1;
    transform: scale(1);
    z-index: 1;
}

.carousel-item.right {
    width: 130px;
    height: 200px;
    opacity: 1;
    transform: translateX(-50px);
    z-index: 0;
}

/* Full Screen Image */
.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 999;
    display: none;
}
.fullscreen.active {
    display: block;
    --background-color: var(--green-color);
}

.navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: none;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    display: none;
    pointer-events: none;
}
.navigation.active {
    display: flex;
}
.previous {
    width: 50px;
    height: 50px;
    color: white;
    background: var(--green-color);
    border-width: 0;
    pointer-events: auto;
}
.next {
    width: 50px;
    height: 50px;
    color: white;
    background: var(--green-color);
    border-width: 0;
    pointer-events: auto;
}

/* LOADING SCREEN */
.logo {
    width: 75%;
    -webkit-transform: rotateZ(-20deg);
    -moz-transform: rotateZ(-20deg);
    -ms-transform: rotateZ(-20deg);
    transform: rotateZ(-20deg);
    background: none;
    animation: intro 1s ease;
    border-radius: 50%;
    z-index: 999;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.upper-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-size: contain;
    background-color: var(--green-color);
    -webkit-mask-image: radial-gradient(circle at bottom, rgba(0, 0, 0, 0) 155px, rgba(0, 0, 0, 1) 100px);
    mask-image: radial-gradient(circle at bottom, rgba(0, 0, 0, 0) 155px, rgba(0, 0, 0, 1) 100px);
    animation: intro-upper 1s ease;
}

.bottom-screen {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-size: contain;
    background-color: var(--green-color);
    -webkit-mask-image: radial-gradient(circle at top, rgba(0, 0, 0, 0) 155px, rgba(0, 0, 0, 1) 100px);
    mask-image: radial-gradient(circle at top, rgba(0, 0, 0, 0) 155px, rgba(0, 0, 0, 1) 100px);
    animation: intro-bottom 1s ease;
}

@keyframes intro {

    0% {

        transform: rotateZ(-20deg);

    }

    50% {

        transform: rotateZ(0deg);
        transform: scale(1);

    }

    99% {
        opacity: 1;
    }

    100% {

        transform: scale(0);
        opacity: 0;

    }

}

@keyframes intro-upper {

    50% {

        transform: translateY(-50px);

    }

    100% {

        transform: translateY(-460px);

    }

}

@keyframes intro-bottom {

    50% {

        transform: translateY(50px);

    }

    100% {

        transform: translateY(460px);

    }

}